* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 30px;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:  linear-gradient(to right, #1A3D63, #4A7FA7, #B3CFE5);
    z-index: -1;
}

.login-page{
    text-align: center;
}

.welcome{
    font-weight: bold;
    margin-bottom: 20px;
}

.login-box{
    background :  linear-gradient(#B3CFE5, #4A7FA7, #1A3D63);
    width: 300px;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 10px 25px (#0A1931);
}

label{
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 20px;
    border: 2px solid #0A1931;
    background: #B3CFE5;
}

.title {
    font-weight: bold;
    margin: 30px auto 10px;
    max-width: 520px;
}

.form-section{
    max-width: 700px;
    margin: auto;
    background: linear-gradient(to right, #B3CFE5, #4A7FA7, #1A3D63);
    padding: 20px;
    border-radius: 15px;
    box-shadow: (#0A1931);
}

.name {
    display: flex;
    gap: 10px;
}

.course {
    display: flex;
    gap: 10px;
}



button,
.nav-btn{
display:inline-block;
width: 100%;
padding: 12px;
margin-top: 20px;
background: #1A3D63;
color: white ;
border: none;
border-radius: 25px;
font-weight: bold;
text-align: center;
text-decoration: none;
cursor: pointer;
}

.nav-btn.gray {
background: #B3CFE5;
}

.nav-group{
    max-width: 520px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
